n8n/chat-workflow.json
{
  "name": "RAG - Chat (Webhook + Telegram)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-in",
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 220],
      "webhookId": "rag-chat"
    },
    {
      "parameters": { "updates": ["message"], "additionalFields": {} },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [240, 420],
      "credentials": { "telegramApi": { "id": "2", "name": "Telegram bot" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ question: $json.body?.question || $json.message?.text }) }}",
        "options": {}
      },
      "id": "call-rag",
      "name": "Ask RAG /chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 320]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [800, 220]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.answer }}{{ $json.sources.length ? '\\n\\nSources: ' + $json.sources.join(', ') : '' }}",
        "additionalFields": {}
      },
      "id": "telegram-reply",
      "name": "Reply on Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [800, 420],
      "credentials": { "telegramApi": { "id": "2", "name": "Telegram bot" } }
    }
  ],
  "connections": {
    "Chat Webhook": { "main": [[{ "node": "Ask RAG /chat", "type": "main", "index": 0 }]] },
    "Telegram Trigger": { "main": [[{ "node": "Ask RAG /chat", "type": "main", "index": 0 }]] },
    "Ask RAG /chat": {
      "main": [[
        { "node": "Respond to Webhook", "type": "main", "index": 0 },
        { "node": "Reply on Telegram", "type": "main", "index": 0 }
      ]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
